/*color primary: #004ba7 */
/*color secondary: #0098f0 */

.position-bottom {
    bottom: 0 !important;
}

.pagination > li > .disabled {
	color: #7c8a96;
    pointer-events: none;
    cursor: auto;
    background-color: #c1c7d0;
    border-color: #d7dce1;

}

.pagination > li.active a{
	z-index: 3;
    color: #fff;
    background-color: #004ba7;
    border-color: #004ba7;
}

.pagination-rounded > li > a {
    border-radius: 30px!important;
    margin: 0 3px;
}

.pagination > li > a{
	position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #7c8a96;
    background-color: #fff;
    border: 1px solid #d7dce1;
}

.btn-primary{
    background-color: #004ba7;
    border-color: #004ba7;
}

.btn-secondary{
     background-color: #0098f0;
    border-color: #0098f0;
}


.page-title-box {
    background: linear-gradient(45deg, #4399f0, transparent);
}

.fontboldonly {
    font-weight: bold;
}
.fontbold{
    font-weight: bold;
    font-size: 17px;
}
body[data-topbar=colored] #page-topbar{
    background: hsla(0,0%,100%,.8);
}

.dropdown-item {
    color: #004ba7;
}
.topnav .navbar-nav .dropdown-item{
    color: #004ba7;
}
.topnav .navbar-nav .dropdown-item:hover{
 color: #63a8ef;
}
body[data-topbar=colored] .header-item{
    color: #004ba7;
}
body[data-topbar=colored] .header-item:hover{
    color: #63a8ef;
}

body[data-layout=horizontal][data-topbar=colored] .topnav .navbar-nav .nav-link{
     color: #004ba7 !important;
}

body[data-topbar=colored] .dropdown.show .header-item {
     background: hsla(0,0%,100%,.8);
}

body[data-layout=horizontal][data-topbar=colored] .topnav .navbar-nav .nav-link{
    /*color: rgb(228, 228, 228) !important;*/
}
a {
    color: #004ba7;
}

.dropzone .dz-preview .dz-error-message{
    left: -25px !important;
}
.dropzone .dz-preview.dz-file-preview .dz-details{
     color: #fdf6f6;
}
.dropzone .dz-preview .dz-details .dz-filename span, .dropzone .dz-preview .dz-details .dz-size span{
    background: none !important;
}
.dropzone .dz-preview.dz-file-preview .dz-image {
    border-radius: 0% 29% / 30% 24% !important;
    background: #0099f0 !important;
    width: 100px !important;
    height: 100px !important;
}

.dropzone .dz-preview .dz-success-mark svg, .dropzone .dz-preview .dz-error-mark svg{
    width: 44px !important;
    height: 44px !important;
}
.dropzone{
    padding: 0 20px !important;
}
.dropzone .dz-preview .dz-details{
    font-size: 12px !important;
    padding: 2em 0em !important;
}
/*home*/

.page-title-box{
    padding: 5px 12px 30px 13px !important;
}
.page-content-wrapper {
    margin-top: -25px;
}
/*login*/
.bg-pattern {
    background-image: none !important; 
}
.bg-primary{
    background-color: #f7f6f6 !important;
}
.card-auth{
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    box-shadow: 0 0 5px 0 rgba(43,43,43,0.1), 0 11px 6px -7px rgba(43,43,43,0.1);
}
.btn-auth{
    background-color: #4099ff;
    border-color: #4099ff;
    color: #fff;
}

.btn-auth:hover{
    background-color: #6db0fd;
    border-color: #6db0fd;
}

.td-red{
    background: #f66;
    color: #fff;
}
.td-green{
    background: #6ee06e;
    color: #fff;
}
.td-yellow{
    color: #fff;
    background: #bdbdbd;
}
.td-blue-strong{
    background:#2c6fa7;
    color: #fff;
}