/*color primary: #004ba7 */
/*color secondary: #0098f0 */
.border-rt{
    border-right: 1px solid #afafaf !important;
}

.position-bottom {
    bottom: 0 !important;
}

.pagination > li > .disabled {
	color: #7c8a96;
    pointer-events: none;
    cursor: auto;
    background-color: #c1c7d0;
    border-color: #d7dce1;

}

.pagination > li.active a{
	z-index: 3;
    color: #fff;
    background-color: #004ba7;
    border-color: #004ba7;
}

.pagination-rounded > li > a {
    border-radius: 30px!important;
    margin: 0 3px;
}

.pagination > li > a{
	position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #7c8a96;
    background-color: #fff;
    border: 1px solid #d7dce1;
}

.btn-primary{
    background-color: #004ba7;
    border-color: #004ba7;
}

.btn-secondary{
     background-color: #0098f0;
    border-color: #0098f0;
}

.fontboldonly {
    font-weight: bold;
}
.fontbold{
    font-weight: bold;
    font-size: 17px;
}
body[data-topbar=colored] #page-topbar{
    background: #fff
}

.dropdown-item {
    color: #004ba7;
}
.topnav .navbar-nav .dropdown-item{
    color: #004ba7;
}
.topnav .navbar-nav .dropdown-item:hover{
 color: #63a8ef;
}
body[data-topbar=colored] .header-item{
    color: #004ba7;
}
body[data-topbar=colored] .header-item:hover{
    color: #63a8ef;
}

body[data-layout=horizontal][data-topbar=colored] .topnav .navbar-nav .nav-link{
     color: #004ba7 !important;
}

body[data-topbar=colored] .dropdown.show .header-item {
     background: hsla(0,0%,100%,.8);
}

body[data-layout=horizontal][data-topbar=colored] .topnav .navbar-nav .nav-link{
    /*color: rgb(228, 228, 228) !important;*/
}
a {
    color: #004ba7;
}

.dropzone .dz-preview .dz-error-message{
    left: -33px !important;
    top: 110px !important;
}
.dropzone .dz-preview.dz-file-preview .dz-details{
     color: #fdf6f6;
}
.dropzone .dz-preview .dz-details .dz-filename span, .dropzone .dz-preview .dz-details .dz-size span{
    background: none !important;
}
.dropzone .dz-preview.dz-file-preview .dz-image {
    border-radius: 0% 29% / 30% 24% !important;
    background: #0099f0 !important;
    width: 80px !important;
    height: 80px !important;
}
.dropzone .dz-preview{
    margin: 10px !important;
    margin-left: 0 !important;
}
.dropzone .dz-preview .dz-success-mark svg, .dropzone .dz-preview .dz-error-mark svg{
    width: 44px !important;
    height: 44px !important;
}
.dropzone{
    padding: 0 20px !important;
    min-height: 125px !important;
}
.dropzone .dz-preview .dz-details{
    font-size: 12px !important;
    padding: 2em 0em !important;
}
.dropzone .dz-preview .dz-details .dz-size{
    margin-bottom: 5px !important;
    font-size: 15px !important;
}
.dropzone .dz-preview .dz-details .dz-filename:not(:hover) span{
    font-size: 10px !important;
}
/*home*/

.page-title-box{
    background: linear-gradient(45deg, #4399f0, #fff);
    padding: 5px 12px 12px 13px !important;
    position: fixed  !important;
    z-index: 0;
    width: 100%  !important;
}
.page-content-wrapper {
    margin-top: 82px;
}
/*login*/
.bg-pattern {
    background-image: none !important;
}
.bg-primary{
    background-color: #f7f6f6 !important;
}
.card-auth{
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    box-shadow: 0 0 5px 0 rgba(43,43,43,0.1), 0 11px 6px -7px rgba(43,43,43,0.1);
}
.btn-auth{
    background-color: #4099ff;
    border-color: #4099ff;
    color: #fff;
}

.btn-auth:hover{
    background-color: #6db0fd;
    border-color: #6db0fd;
}

.td-red{
    background: #f66;
    color: #fff;
}
.td-green{
    background: #6ee06e;
    color: #fff;
}
.td-yellow{
    color: #fff;
    background: #bdbdbd;
}
.td-blue-strong{
    background:#2c6fa7;
    color: #fff;
}

.table .thead-light th{
    background-color: #eef1f3 !important;
}
.head-table{
    color: #004ba7;
}
.table td, .table th{
    padding: 0.65rem !important;
}
.border-hz{
    border-bottom: 1px solid #afafaf !important;
    border-top: 1px solid #afafaf !important;
}

.printHeader {
   display : none;
}

.dropzone .dz-preview .dz-success-mark, .dropzone .dz-preview .dz-error-mark{
    top: 45% !important;
    left: 55% !important;
}

.crossOut .child{
    position:absolute;
    display:block;
    height:1px;
    background: #fff;
}

@media print {
    .printHeader {
       display : block;
    }
}
.custom-style-check{
    margin-right: 10px;
}
.row{
    margin-top: 20px !important;
}
.footer{
    height: auto !important;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #f7f7f7 !important;
    opacity: 1 !important;
}

input[type="checkbox"]:disabled {
    background-color: #3051D3 !important;
    opacity: 1 !important;
}
